.main-navigation {
	display: block;
    font-size: .875rem;

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
            display: none;

			li {

				&:hover > ul,
				&.focus > ul {
					display: block;
					left: auto;
				}
			}

			a {
				width: 200px;
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	a {
		
	}

    @include media(desktop) {
        .menu-main-menu-container {
            height: 100%;

            > ul,
            > ul > li,
            > ul > li > a {
                height: 100%;
            }

            > ul > li > a {
                align-items: center;
                display: flex;
            }
        }
    }

    .menu-main-menu-container > ul > li {
        > a {
            text-decoration: none;
            text-transform: uppercase;
            @include transition-colors;
            
            @include media(desktop) {
                font-weight: 600;
                padding: 1rem;
    
                &:hover,
                &:focus {
                    background-color: $color__accent;
                }
            }
        }

        &:focus-within > .sub-menu,
        &:hover > .submenu  {
            background-color: $color__main;
            display: flex;
            left: 0;
            position: absolute;
            top: 100%;
            width: 100%;
            z-index: 99999;
        }
    }

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

.menu-toggle {
    background: transparent;
    border: none;
    color: #FFFFFF;
    font-weight: 600;
    margin-right: -$container__spacing;
    padding: 1rem;
    @include transition-colors;

    &:hover {
        background-color: $color__accent;
    }
}

@include media(desktop) {

	.menu-toggle {
		display: none;
	}

	.main-navigation ul {
		display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
	}

	.nav-links {
		display: flex;
	}

	.nav-previous {
		flex: 1 0 50%;
	}

	.nav-next {
		text-align: end;
		flex: 1 0 50%;
	}
}
