$opacity__low: 0.85;
$opacity__high: 0.15;

$color__main: #101C4E;
$color__main-low: rgba($color__main, $opacity__low);
$color__main-high: rgba($color__main, $opacity__high);
$color__main-dark: #0D163E;
$color__accent: #A20031;
$color__accent-low: rgba($color__accent, $opacity__low);
$color__accent-high: rgba($color__accent, $opacity__high);
$color__gray: #EEEEEE;
$color__gray-low: rgba($color__gray, $opacity__low);
$color__gray-high: rgba($color__gray, $opacity__high);

$color__background-body: $color__gray;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: $color__accent;
$color__link-visited: $color__accent;
$color__link-hover: $color__main; //midnightblue
$color__text-main: #404040;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;
